# Dependencies
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment & Vercel
.env
.env.local
.env.*.local
.vercel

# IDE / OS Files
.DS_Store
Thumbs.db
.vscode/
.idea/
